body{
	width: 1280px;
	height: 1000px;
	 color:#0F0F0F;;
	
	background-image: url(../images/7.png);
	background-repeat: no-repeat;
	background-size: 1400px 1000px;
}
a:link{
	text-decoration: none;
		color:#0F0F0F;
		font-weight: bolder;
	
}
a:hover{
	text-decoration: underline;
	 color: #f9f603;
}
ul li{
	list-style: none;
}
/*页面头部*/
.header{
	width: 1400px;
	height: 250px;
	
	position: absolute;
	top:0px;
	left: 0px;
	border:3px #000 solid;
}

.h1{
	
	height: 215px;
	width: 1400px;
	background-repeat: no-repeat;

}
.h1 img{
	height: 215px;
	width: 1400px;
}
.h2{
	border:1px solid #ff0000;
	height: 35px;
	width: 1400px;
	background-image: url(../images/f3.png);
	background-size: 1400px 35px;

}
.h2 img{
	height: 30px;
	width: 1300px;

}
.u2 ul li{
	float: left;
	list-style: none;
	margin-left: 20px;
	line-height: 10px;
}
.v1{
	margin-left: 30px;
}

.in1{
	height: 18px;
	background-color:#EEEEE0;
	float: right;
	
	position: absolute;
	top:220px;
	right:65px;
}
.in2{
	height:25px;
	padding: 10px;
	line-height:0px;
	float: right;
	position: absolute;
	top:220px;
	right: 15px;
	

}

/*页面中部*/

.content{
	width: 1024px;
	
	
	position:absolute;
	left: 150px;
	top: 257px;

}


.m1{
	color: 	#575757;
	margin-left: 30px;
	height: 30px;
	padding: 20px;
}
.m1 a{
	color: #FF0000;
}

.left{
	width: 300px;
	
	
	float: left;
}
.l1{
	width: 250px;
	height: 300px;
	border:1px solid #c9baa5;
	margin-left: 30px;
	line-height: 50px;
}
.l2{
	width: 250px;
	height: 300px;
	border:1px solid #c9baa5;
	margin-left: 30px;
	line-height: 50px;
}
.l1 img{
	height: 50px;
	width: 251px;
}
.l1  ul{
	margin-left: 50px;
	margin-top: 0px;

}
.l2{
	width: 210px;
	height: 300px;
	border:1px solid #c9baa5;
	margin-left: 30px;
	margin-top: 30px;

	
	
}
.l2 img{
	height: 50px;
	width: 250px;
	position: relative;
	right: 40px;
	border:1px solid #c9baa5;
	float: left;
	margin-left: 
	
	
}

.right{
	width: 700px;
	height: 630px;
	
	float: left;
	border:1px solid #c9baa5;
}
.right ul li{
	line-height: 50px;
	list-style: disc;
	
}
.r1{
	float: left;
}
.r2{
	float: right;
	width: 150px;
}
.r1{
	color: red;
}
.r2 ul li{
	list-style: none;
}

/*页面底部*/

.footer{
	margin-top: 80px;

	width: 1024px;
	height: 200px;
	
	position:absolute;
	left: 150px;
	top: 900px;
	font-family: "宋体";
	font-size: 14px;
	color: #8C8C8C;
	font-weight: bolder;
}




	.footer a{
		font-weight: normal;
		font-family: "宋体";
		color: #B8860B;
	}



		.y1{
			margin-left: 250px;
			
			height: 50px;
			float: left;
			margin-bottom: 0px;

			
		}
		.footer img{
			height: 1px;
			margin-left: 280px;
			width: 680px;
			
		}
		.e1 p{
			margin-top: 10px;
			height: 20px;
			width: 500px;
			margin-left: 350px;
			
			
		}
		.e2 p{
			height: 12px;
			width: 500px;
			margin-left: 370px;
			 margin-top: 0px;
		}







